body {
      background-color: white;
      /* Light mode default */
      color: black;
      transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
      background-color: #282c34;
      color: #f2f2f2;
}

body.dark-theme .container {
      border: 2px solid #5c6773;
}

.container {
      max-width: 800px;
      margin: 50px auto;
      padding: 20px;
}