
input:invalid:focus,
input:valid {
      border: 1px solid #ccc;

}

input:invalid:focus {
      border-color: #ff0000;
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

/* Basic Input Styling */
input {
      padding: 8px;
      margin-top: 5px;
      width: 250px;
      box-sizing: border-box;
}